<a href="https://colab.research.google.com/github/MarianaMH1195/MarianaMH1195/blob/main/Customer_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('Customer_Activity_csv.csv')

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
df = pd.read_csv('/content/Customer_Activity_csv.csv')

In [7]:
df = pd.DataFrame(df)

In [8]:
df.head(20)

,customer_id,first_name,last_name,email,active,address,district,postal_code,city,country,rental_date,return_date,amount,payment_date,rental_duration
0,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-05-25 11:30:37,2005-06-03 12:00:37,2.99,2005-05-25 11:30:37,9
1,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-05-28 10:35:23,2005-06-03 06:32:23,0.99,2005-05-28 10:35:23,6
2,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-06-15 00:54:12,2005-06-23 02:42:12,5.99,2005-06-15 00:54:12,8
3,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-06-15 18:02:53,2005-06-19 15:54:53,0.99,2005-06-15 18:02:53,4
4,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-06-15 21:08:46,2005-06-25 02:26:46,9.99,2005-06-15 21:08:46,10
5,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-06-16 15:18:57,2005-06-17 21:05:57,4.99,2005-06-16 15:18:57,1
6,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-06-18 08:41:48,2005-06-22 03:36:48,4.99,2005-06-18 08:41:48,4
7,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-06-18 13:33:59,2005-06-19 17:40:59,0.99,2005-06-18 13:33:59,1
8,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-06-21 06:24:45,2005-06-28 03:28:45,3.99,2005-06-21 06:24:45,7
9,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-07-08 03:17:05,2005-07-14 01:19:05,5.99,2005-07-08 03:17:05,6
10,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-07-08 07:33:56,2005-07-12 13:25:56,5.99,2005-07-08 07:33:56,4
11,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-07-09 13:24:07,2005-07-14 14:01:07,4.99,2005-07-09 13:24:07,5
12,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-07-09 16:38:01,2005-07-13 18:02:01,4.99,2005-07-09 16:38:01,4
13,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-07-11 10:13:46,2005-07-19 13:15:46,7.99,2005-07-11 10:13:46,8
14,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-07-27 11:31:22,2005-07-31 06:50:22,2.99,2005-07-27 11:31:22,4
15,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-07-28 09:04:45,2005-07-30 12:37:45,4.99,2005-07-28 09:04:45,2
16,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-07-28 16:18:23,2005-07-30 17:56:23,4.99,2005-07-28 16:18:23,2
17,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-07-28 17:33:39,2005-07-29 20:17:39,0.99,2005-07-28 17:33:39,1
18,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-07-28 19:20:07,2005-07-29 22:54:07,0.99,2005-07-28 19:20:07,1
19,1,mary,smith,mary.smith@sakilacustomer.org,1,1913 hanoi way,nagasaki,35200,sasebo,japan,2005-07-29 03:58:49,2005-08-01 05:16:49,2.99,2005-07-29 03:58:49,3

In [9]:
df.shape

(1000, 15)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      1000 non-null   int64
 1   first_name       1000 non-null   object
 2   last_name        1000 non-null   object
 3   email            1000 non-null   object
 4   active           1000 non-null   int64
 5   address          1000 non-null   object
 6   district         966 non-null    object
 7   postal_code      1000 non-null   int64
 8   city             1000 non-null   object
 9   country          1000 non-null   object
 10  rental_date      1000 non-null   object
 11  return_date      1000 non-null   object
 12  amount           1000 non-null   float64
 13  payment_date     1000 non-null   object
 14  rental_duration  1000 non-null   int64
dtypes: float64(1), int64(4), object(10)
memory usage: 117.3+ KB

In [11]:
df. count()

customer_id        1000
first_name         1000
last_name          1000
email              1000
active             1000
address            1000
district            966
postal_code        1000
city               1000
country            1000
rental_date        1000
return_date        1000
amount             1000
payment_date       1000
rental_duration    1000
dtype: int64

In [12]:
df.describe()

       customer_id       active   postal_code       amount  rental_duration
count  1000.000000  1000.000000   1000.000000  1000.000000      1000.000000
mean     18.706000     0.972000  50623.087000     4.152000         4.987000
std      10.497131     0.165055  26459.555567     2.406563         2.622157
min       1.000000     0.000000   1027.000000     0.990000         0.000000
25%       9.000000     1.000000  34021.000000     2.990000         3.000000
50%      19.000000     1.000000  49521.000000     3.990000         5.000000
75%      28.000000     1.000000  72192.000000     4.990000         7.000000
max      37.000000     1.000000  99865.000000    11.990000        10.000000

In [13]:
df.duplicated().sum()

np.int64(0)

In [14]:
df.isna().sum().sort_values(ascending=False)

district           34
first_name          0
customer_id         0
last_name           0
email               0
active              0
address             0
postal_code         0
city                0
country             0
rental_date         0
return_date         0
amount              0
payment_date        0
rental_duration     0
dtype: int64

In [15]:
df.isnull().sum()

customer_id         0
first_name          0
last_name           0
email               0
active              0
address             0
district           34
postal_code         0
city                0
country             0
rental_date         0
return_date         0
amount              0
payment_date        0
rental_duration     0
dtype: int64

In [16]:
text_columns = ['first_name', 'last_name', 'email', 'address', 'district', 'city', 'country']
for col in text_columns:
    df[col] = df[col].str.strip()

In [17]:
df['rental_date'] = pd.to_datetime(df['rental_date'])
df['return_date'] = pd.to_datetime(df['return_date'])
df['payment_date'] = pd.to_datetime(df['payment_date'])

In [18]:
df['amount'].describe()
df['rental_duration'].describe()

count    1000.000000
mean        4.987000
std         2.622157
min         0.000000
25%         3.000000
50%         5.000000
75%         7.000000
max        10.000000
Name: rental_duration, dtype: float64

In [19]:
df = df[df['amount'] > 0]
df = df[df['rental_duration'] > 0]

In [20]:

df['is_active'] = df['active'].apply(lambda x: True if x==1 else False)


df['rental_month'] = df['rental_date'].dt.month

In [21]:
df.to_csv('customer_activity_clean.csv', index=False)

In [22]:

df['is_active'].value_counts()


df['rental_duration'].mean()


df.groupby('customer_id')['amount'].sum().sort_values(ascending=False).head(10)

customer_id
21    152.66
26    152.66
7     151.67
29    139.65
5     138.64
3     135.74
13    131.73
15    130.70
35    129.68
2     127.74
Name: amount, dtype: float64